<div class="row card-header">
  <div class='col-lg-7 text-left'> <h5><%= @team.name %></h5> </div>
  <div class='col-lg-5 text-right'>
    <div class="btn-group" role="group">
      <%= link_to 'Edit', edit_team_path, class: 'btn btn-secondary' %>
      <%= link_to 'Add an Event', new_team_event_path(team_id: @team.id, from_team: true), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>

<div class="row card-body">
  <div class='col-lg-12'>
    <%= render 'shared/flash_view' %>
    <table class="table table-hover font-weight-light">
      <tr>
        <th> Event </th>
        <th> Points </th>
        <th> Event Date </th>
      </tr>

      <% @events.each do |event| %>
        <tr>
            <td> <%= link_to event.event_name, event_path(id: event.event_id) %> </td>
            <td> <%= event.points %> </td>
            <td> <%= event.event_date.strftime('%d/%m/%Y') %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
