<div class="card-header">
  Team Details
</div>

<div class="card-body">
  <div class="row mb-3">
    <div class="col-lg-3">
      <%= form.label :event %>:
    </div>
    <div class="col-lg-9">
      <%= form.select :event, options_for_select(@events.collect { |e| [e.name, e.id] }, [@event.try(:name), @event.try(:id)]),
                              { include_blank: 'Choose Event' },
                              class: 'form-control',
                              disabled:@from_event
      %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-3">
      <%= form.label :team %>:
    </div>
    <div class="col-lg-9">
      <%= form.select :team, options_for_select(@teams.collect { |e| [e.name, e.id] }, [@team.try(:name), @team.try(:id)]),
                              { include_blank: 'Choose Team' },
                              class: 'form-control',
                              disabled:@from_team
      %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= form.label :points %>:
    </div>
    <div class="col-lg-9">
      <%= form.text_field :points, class: 'form-control' %>
    </div>
  </div>
</div>